.main-layout {
    min-height: 100vh;

    .content-main-wrapper {
            margin: 15px;
        .content-wrapper {
            padding: 24px;
                min-height: 100%;
                background: white;
            }
    }
}